html {
    position: relative;
    min-height: 100%;
}
html, body {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
    color: #023448;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px
}

.row {
    /*margin-bottom: 20px;*/
}

.wrap {
    min-height: 100%;
    position: relative;
    /*margin: 0 auto -60px;*/
    /*padding: 0 0 60px;*/
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}
#content {
    padding: 0 0 0 0;
    text-align: justify;
}
#content.add-margin {
    padding: 83px 0 0 0;
}
.footer {
    /*bottom: 0;*/
    position: absolute;
    width: 100%;
    height: 83px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: #023448;
}
h1 {
    margin-bottom: 20px;
}
h2 {
    
}
h3 {
    
}
h4 {
    
}
h5 {
    
}
h6 {
    
}

.go-back {
    display: block;
    padding: 10px 0 0 0;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
a {
    color: #ea0649;
}
a:hover, a:focus {
    color: #a40004;
    text-decoration: none;
}
.breadcrumb {
    margin-top: 51px;
    background-color: #f2f2f3;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: 2px solid #080808;
    margin-bottom: 0;
    color: #060f1d;
}
.breadcrumb > .active {
    color: #060f1d;
}
.breadcrumb > li + li::before {
    content: ">";
    color: #060f1d;
}
.breadcrumb li a {
    color: #060f1d;
    text-decoration: underline;
}
.btn {
    background-color: #c0504e;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-weight: bold;
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 8px 11px;
    border: 0 none;
    padding: 7px 15px 7px 15px;
    text-shadow: none;
    transition: background-color 0.2s ease-in 0s;
    min-width: 60px;
}
.btn:hover, .btn:focus, .btn:active, .btn.focus, .btn.active {
    background-color: #a40004;
    outline: none;
}
.btn.btn-edit:hover, .btn.btn-edit:focus, .btn.btn-edit:active, .btn.btn-edit.focus, .btn.btn-edit.active {
    background-color: #c0504e;
    outline: none;
}
.btn.btn-edit {
    background-color: #f88886;
}
.btn.btn-view:hover, .btn.btn-view:focus, .btn.btn-view:active, .btn.btn-view.focus, .btn.btn-view.active {
    background-color: #c0504e;
    outline: none;
}
.btn.btn-view {
    background-color: #e87876;
}
.required {
    
}
.required label {
    
}
.required label:after {
    content: "*";
    color: #ff0000;
    padding-left: 3px;
}

/*Default styles start*/
.bg-dark-red {
    background-color: #c0504e;
}
.bg-red {
    background-color: #d82126;
}
.bg-yellow {
    background-color: #f8991d;
}
.bg-blue {
    background-color: #1455a6;
}
.bg-green {
    background-color: #76a841;
}
.flash-successfull {
    color: #3c763d;
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    width: 100%;
}
.flash-unsuccessfull {
    color: #a94442;
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    width: 100%;
}

a.alarm-link {
    text-decoration: none;
}
.alarm {
    display: block;
    color: #ffffff;
    padding: 20px 20px 20px 52px;
    background: url("../images/info.png") no-repeat 20px 50%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-animation: alarm 1s infinite alternate;
    -moz-animation: alarm 1s infinite alternate;  
    -ms-animation: alarm 1s infinite alternate;  
    -o-animation: alarm 1s infinite alternate;
    animation: alarm 1s infinite alternate;   
}

@-webkit-keyframes alarm {
    from { background-color: #053449; }
    to { background-color: #d82126; }
}
@-moz-keyframes alarm {
    from { background-color: #053449; }
    to { background-color: #d82126; }
}
@-ms-keyframes alarm {
    from { background-color: #053449; }
    to { background-color: #d82126; }
}
@-o-keyframes alarm {
    from { background-color: #053449; }
    to { background-color: #d82126; }
}
@keyframes alarm {
    from { background-color: #053449; }
    to { background-color: #d82126; }
}
.hide {
    display: none;
}
.show {
    display: block;
}
/*Default styles end*/

/*Main menu start*/
.main-menu-nav {
    background: #053449;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.main-menu {
    
}
.main-menu-nav .navbar-brand {
    color: #ffffff;
    padding: 5px;
}
.main-menu-nav .navbar-brand img {
    height: 100%;
}
.main-menu-nav .main-menu li a {
    color: #ffffff;
}
.main-menu-nav .main-menu .dropdown-menu li a {
    color: #053449;
}
.main-menu-nav .main-menu > .open > a,
.main-menu-nav .main-menu li > a:hover, 
.main-menu-nav .main-menu > .active > a, 
.main-menu-nav .main-menu > .open > a:focus {
    background: #215065;
}
.main-menu-nav .main-menu .dropdown-menu li > a:hover, 
.main-menu-nav .main-menu .dropdown-menu li > a:focus {
    color: #ffffff;
}
.main-menu-nav .navbar-toggle {
    border-color: #215065;
}
.main-menu-nav .navbar-toggle:hover, .main-menu-nav .navbar-toggle:focus {
    background: #215065;
}
/*Main menu end*/

/*Doctor main menu start*/
.doctor-menu-nav {
    background-color: #ffffff;
    color: #000000;
    border-bottom: 2px solid #080808;
}
.doctor-menu-nav .navbar-nav li a {
    color: #000000;
    text-decoration: underline;
    border-right: 1px solid #000000;
}
.doctor-menu-nav .navbar-nav li:last-child a {
    border-right: none;
}
.doctor-menu-nav .navbar-nav li a:hover,
.doctor-menu-nav .navbar-nav li a:focus, 
.doctor-menu-nav .navbar-nav li a:active,
.doctor-menu-nav .navbar-nav li.active a {
    color: #ea0649 !important;
    background-color: #ffffff !important;
    text-decoration: underline;
}
.doctor-menu-main {
    
}
.doctor-menu-nav .navbar-brand {
    padding: 5px;
}
.doctor-menu-nav .navbar-brand img {
    height: 100%;
}
.doctor-menu-nav.navbar-inverse .navbar-toggle {
    background-color: #333333;
}
/*Doctor main menu end*/

/*Doctor patient menu start*/
#doctor-patient-menu {
    float: left;
    width: 100%;
    padding: 0;
    border-bottom: 2px solid #080808;
    margin-bottom: 0;
}
#doctor-patient-menu li {
    float: left;
    list-style-type: none;
    width: 16.666666667%;
    text-align: center;
}

#doctor-patient-menu li a {
    float: left;
    width: 100%;
    padding: 8px;
    color: #060f1d;
    -webkit-box-shadow: -2px 0px 0px 0px #080808 inset;
    box-shadow: -2px 0px 0px 0px #080808 inset;
}
#doctor-patient-menu li:last-child a {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#doctor-patient-menu li a:hover,
#doctor-patient-menu li a:active,
#doctor-patient-menu li a:focus,
#doctor-patient-menu li a.active {
    background-color: #bfbfbf;
}
/*Doctor patient menu end*/

/*Doctor patient dashboard start*/
.doctor-patient-dashboard {
    
}
.doctor-patient-dashboard h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    text-decoration: underline;
    padding: 10px 10px 0px 10px;
    margin: 0;
}
.doctor-patient-dashboard h2 a {
    float: none;
    padding: 0;
    
}
.doctor-patient-dashboard h2 a:hover {
    background: none;
    color: #ea0649;
}
.doctor-patient-sign-chart {
    /*padding: 15px;*/
}
#mews-form {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
#mews-title {
    margin: 30px 0;
}
#mews-form .form-group {
    
}
#mews-form input[type="text"] {
    text-align: right;
}
#mews-form label {
    padding-top: 0;
}
#mews-button {
    width: 100%;
    margin-top: 27px;
}
#mews-form .help-block {
    font-size: 14px;
}
#mews-value {
    color: #c0504e;
    font-size: 84px;
    font-weight: bold;
    text-align: center;
}
#mews-save-wrapper {
    text-align: center;
    padding-top: 5px;
}
#mews-save {
    display: none;
}
#mews-saved {
    display: none;
}
/*Doctor patient dashboard end*/

/*Footer start*/
.footer-links {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}
.footer-links li {
    display: inline-block;
    padding-right: 20px;
}
.footer-links li a {
    display: block;
    color: #ffffff;
}
.footer .row {
    margin-bottom: 0;
}
/*Footer end*/

/*Tiles start*/
.tile {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.tile .head {
    float: left;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}
.tile .head h2 {
    margin: 0;
    float: left;
    width: 100%;
    color: #ffffff;
}
.tile .head h2 span {
    float: left;
}
.tile .head h2 .glyphicon {
    
}
.tile .head h2 .heading {
    padding-left: 10px;
    font-size: 28px;
}
.tile .content {
    padding: 10px;
    float: left;
    width: 100%;
}
.tile .link {
    padding: 10px;
    float: left;
    width: 100%;
    border-top: 1px dashed #053449;
    text-align: center;
}
.tile .last-signs {
    padding-left: 10px;
}
.tile .last-signs li {
    padding-bottom: 5px;
}
.tile .last-signs li:last-child {
    padding-bottom: 0;
}
.tile .last-signs .log {
    display: block;
}
.tile .last-signs .log-description {
    display: block;
    color: #cccccc;
    font-size: 12px;
}
.tile .last-signs .log-value {
    
}
.tile .last-signs .log-time {
    
}
/*Tiles end*/

/*Login page start*/
.site-login-register h1 {
    margin-bottom: 30px;
}
#login-form {
    
}
.control-label-link {
    text-align: left;
}
.register {
    
}
.register-login-reset-links a {
    padding-left: 20px;
}
.register-login-reset-links a:first-child {
    padding-left: 0;
}
.site-login-register {
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-register-button {
    width: 100%;
}
/*Login page end*/

/*Patient single page start*/
.patient-view {
    
}
.patient-view .row {
    
}
.patient-header {
    
}
.patient-header h1 {
    margin-top: 5px;
    margin-bottom: 0;
}
.patient-add-medication {
    margin-bottom: 30px;
}
.patient-alarms {
    margin-bottom: 30px;
}
.patient-signs {
    
}
.patient-medications {
    
}
.patient-medication {
    border: 2px solid #022a3b;
    background-color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 10px 0;
    float: left;
    width: 100%;
}
.patient-medication .pm-header{
    float: left;
    width: 100%;
}
.patient-medication .pm-header .rx-number{
    float: left;
    background-color: #022a3b;
    padding: 3px 10px;
    color: #ffffff;
    font-size: 16px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
.patient-medication .pm-header .name{
    float: right;
    background-color: #022a3b;
    padding: 3px 10px;
    color: #ffffff;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    width: 200px;
    text-align: right;
}
.patient-medication .pm-content{
    float: left;
    width: 100%;
    padding: 10px;
}
.patient-medication .pm-content .doze{
    color: #d82126;
    padding: 5px 0;
}
.patient-medication .pm-content .schedule{
    padding: 5px 0;
}
.patient-medication .pm-content .note{
    padding: 5px 0;
    font-size: 12px;
}
.patient-connections {
    
}
.patient-connection {
    
}
.patient-connection li {
    
}
.patient-connection li a {
    
}
.medication-create-dn .field-medication-patient_id {
    display: none;
}
.medication-create-dn .field-medication-prescribed_by_id {
    display: none;
}
/*Patient single page end*/

/*Logs single page start*/
.logs {
    
}
.logs-list {
    
}
.log-row {
    
}
.log-row .row-inside {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px;
    color: #ffffff;
    float: left;
    width: 100%;
}
.log-row .odd {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb4449+0,d82126+100 */
    background: #fb4449; /* Old browsers */
    background: -moz-linear-gradient(top, #fb4449 0%, #d82126 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb4449), color-stop(100%,#d82126)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fb4449 0%,#d82126 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fb4449 0%,#d82126 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fb4449 0%,#d82126 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fb4449 0%,#d82126 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb4449', endColorstr='#d82126',GradientType=0 ); /* IE6-9 */
}
.log-row .even {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff767b+0,fb4449+100 */
    background: #ff767b; /* Old browsers */
    background: -moz-linear-gradient(top, #ff767b 0%, #fb4449 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff767b), color-stop(100%,#fb4449)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff767b 0%,#fb4449 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff767b 0%,#fb4449 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff767b 0%,#fb4449 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff767b 0%,#fb4449 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff767b', endColorstr='#fb4449',GradientType=0 ); /* IE6-9 */
}
.log-row .row-inside .log-value {
    font-weight: bold;
}
/*Logs single page end*/

/*Other start*/
.field-medication-strength_measure {
    padding-top: 5px;
}
.alarm-form .field-alarm-patient_id {
    display: none;
}
.logs-form .field-logs-user_id {
    display: none;
}
.logs-form .field-logs-sign {
    display: none;
}
/*Other end*/

/*------------------------ Re-design -----------------------------------------*/

/*Bars start*/
.bar {
    font-size: 24px;
    background-color: #ffffff;
}
.bar .bar-cell {
    border-right: 1px solid #000000;
    text-align: center;
}
.bar .bar-cell:last-child {
    border-right: none;
}
.bar a {
    color: #000000;
}

#bar-top {
    border-bottom: 1px solid #000000;
    z-index: 100;
    position: fixed;
    width: 100%
}
#home, #profile, #time, #sos, #inbox, #message-box, #done, #logout-patient {
    padding: 17px 0;
    float: left;
    width: 100%;
    outline: none;
}
#sos {
    background-color: #c0504e;
    color: #ffffff !important;
}
#sos, #time, #message-box {
    margin: 7px 0;
    outline: none;
}
#bar-bottom {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.bar img {
    height: 48px;
}
#logout-patient {
    padding: 24px 0;
}
/*Bars end*/

/*Block home start*/
.block {
    background-color: #d9e0ea;
    min-height: 150px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.block a {
    display: block;
    float: left;
    width: 100%;
    color: #000000;
    outline: none;
    padding: 30px 0;
}
.block a:hover {
    color: #000000;
}
.block a .text {
    
}
.block a .image-wrapper {
    display: inline-block;
    padding-left: 50px;
}
.block a .image-wrapper img {
    height: 90px;
}
.brw {
    border-right: 2px solid #ffffff;
}
.bbw {
    border-bottom: 2px solid #ffffff;
}
/*Block home end*/

/*Block Sign panel start*/
.block-sign {
    background-color: #ffffff;
    min-height: 134px;
    font-size: 24px;
    text-align: center;
}
.block-sign a {
    display: block;
    float: left;
    width: 100%;
    color: #000000;
    outline: none;
    padding: 20px 0;
    cursor: pointer;
}
.block-sign .data-chart-view {
    float: left;
    width: 50%;
}
.block-sign .left-button {
    border-right: 1px solid #000000;
}
.block-sign .overview-text {
    padding: 10px 0;
}
.block-sign a:hover {
    color: #000000;
}
.block-sign.empty-sign {
    background-color: #f9f9f9;
}
.block-sign .text {
    display: block;
}
.block-sign .image-wrapper {
    display: block;
}
.block-sign .image-wrapper img {
    height: 58px;
}
.block-sign-splitted {
    padding: 0;
}
.block-sign-splitted a:hover {
    background-color: #f9f9f9;
}
.site-add-data .block-sign:hover{
    background-color: #f9f9f9
}
.brb {
    border-right: 2px solid #514f50;
}
.bbb {
    border-bottom: 2px solid #514f50;
}
.hint-additional {
    font-size: 12px;
}
.overview-data .block-sign {
    min-height: 166px !important;
}
/*Block Sign panel end*/

/*Measurements page start*/
.measurements-view-text {
    
}
.measurements-view-text .sub-title {
    font-weight: bold;
    padding: 10px 0;
    text-decoration: underline;
}
.measurements-wrapper {
    padding: 10px 20px;
}
.measurements-wrapper .row-measure {
    padding: 4px 0;
}
.measurements-wrapper .row-measure .data {
    padding: 5px 0px;
}
.measurements-view-chart {
    padding: 20px 0;
}
.measurements-view-chart .sub-title {
    font-weight: bold;
    padding: 10px 0;
    text-decoration: underline;
}
.measurements-view-chart .last-result-time {
    font-size: 18px;
    padding: 20px 0;
}
.measurements-view-chart .last-result-value span {
    font-size: 36px;
    padding: 5px 10px;
    background-color: #f3f3f3;
    border: 2px solid #dddddd;
}
#chart-measurement {
    
}

/*Reminder popup start*/
#reminder-later {
    float: left;
    background-image: url("../images/later.png");
    background-repeat: no-repeat;
    background-position: 7px 50%;
    background-size: 16px auto;
    padding-left: 32px;
}
#reminder-done {
    background-image: url("../images/done.png");
    background-repeat: no-repeat;
    background-position: 7px 50%;
    background-size: 24px auto;
    padding-left: 32px;
}
/*Reminder popup end*/

/*Communication start*/
.site-communication .block-sign a .text {
/*    background-image: url("../images/phone_green.png");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 10px 50%;*/
}
.site-call .videos {
    border-left: 1px solid #000000;
}
.call-with {
    margin-top: 25px;
}
.call-with h1 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}
.call-info {
    color: #2fb269;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
#call-back {
    padding-top: 45px;
    float: left;
    width: 100%;
    color: #C0504E;
    font-size: 24px;
    font-weight: bold;
}
#local {
    bottom: 0;
    padding: 10px 0;
    /*position: absolute;*/
}
#local .videoContainer {
    
}
#remotes {
    margin-top: 5px;
}
#remotes .volume {
    display: none !important;
}
/*Communication end*/

/*Pager design start*/
.pagination > .active > a,
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover,
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #c0504e;
    border-color: #c0504e;
}
.pagination > li > a,
.pagination > li > span {
    color: #c0504e;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #c0504e;
    border-color: #c0504e;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus,
.pagination > li > a, 
.pagination > li > span{
    border-color: #c0504e;
}
/*Pager design end*/

/*Only For Smaller then 390px*/
@media (max-width: 390px) {
    .block-sign {
        font-size: 18px;
    }
}

/*Only For Smaller then 412px*/
@media (max-width: 412px) {
    .block a .text {
        display: none !important;
    }
}

/*Only For Smaller then 630px*/
@media (max-width: 630px) {
    .block a .image-wrapper, .block a .text {
        display: block;
    }
    .block a .image-wrapper {
        padding-top: 10px;
        padding-left: 0;
    }
}

/*Only For Extra-Small xs*/
@media (max-width: 767px) {
    .footer-links {
        float: left;
        padding-top: 10px;
    }
    
    #bar-top {
        border-bottom: none;
    }
    #bar-top .bar-cell {
        border-bottom: 1px solid #000000;
        border-right: none;
    }
    #bar-top .bar-cell-half:first-child {
        border-right: 1px solid #000000;
    }
    
    #bar-bottom {
        border-top: none;
    }
    #bar-bottom .bar-cell {
        border-top: 1px solid #000000;
        border-right: none;
    }
    #bar-top {
        position: relative;
    }
    .block {
        font-size: 18px;
    }
    .block a .image-wrapper {
        padding-left: 10px;
    }
    .measurements-view-chart .last-result-time {
        padding: 10px 0;
    }
    #chart1 {
        padding: 20px 0;
    }
    .doctor-menu-nav .navbar-nav li a {
        border-right: none;
    }
    #doctor-patient-menu li {
        width: 50%;
        border-bottom: 2px solid #080808;
    }
    #doctor-patient-menu {
        border-bottom: 0;
    }
    #content.add-margin {
        padding: 0 !important;
    }
    .logout-patient-wrapper {
        border-right: 1px solid #000000 !important;
    }
    .mobile-full {
        width: 100%;
    }
    #mews-value {
        margin-top: 20px;
    }
}
/*Only For Small sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .block a .image-wrapper {
        padding-left: 10px;
    }
    .border-bottom-small {
        border-bottom: 1px solid #000000;
    }
    #bar-top.bar-patient {
        position: relative;
    }
    #content.add-margin {
        padding: 0 !important;
    }
    #mews-form .help-block {
        font-size: 11px;
    }
}

/*Only For Medium md*/
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/*Only For Large lg*/
@media (min-width: 1200px) {
    
}

/*Only NOT For Extra-Small xs*/
@media (min-width: 768px) {
    
}
