html {
    position: relative;
    min-height: 100%;
}
html, body {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
    color: #023448;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px
}

.row {
    /*margin-bottom: 20px;*/
}

.wrap {
    min-height: 100%;
    position: relative;
    /*margin: 0 auto -60px;*/
    /*padding: 0 0 60px;*/
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}
#content {
    padding: 83px 0 0 0;
    text-align: justify;
}
.footer {
    /*bottom: 0;*/
    position: absolute;
    width: 100%;
    height: 83px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: #023448;
}
h1 {
    
}
h2 {
    
}
h3 {
    
}
h4 {
    
}
h5 {
    
}
h6 {
    
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
a {
    color: #ea0649;
}
a:hover, a:focus {
    color: #a40004;
    text-decoration: none;
}
.breadcrumb {
    background-color: #dfe4e7;
}
.btn {
    background-color: #ea0649;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-weight: bold;
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 8px 11px;
    border: 0 none;
    padding: 7px 15px 7px 15px;
    text-shadow: none;
    transition: background-color 0.2s ease-in 0s;
    min-width: 150px;
}
.btn:hover, .btn:focus, .btn:active, .btn.focus, .btn.active {
    background-color: #a40004;
    outline: none;
}
.required {
    
}
.required label {
    
}
.required label:after {
    content: "*";
    color: #ff0000;
    padding-left: 3px;
}

/*Default styles start*/
.bg-dark-red {
    background-color: #c0504e;
}
.bg-red {
    background-color: #d82126;
}
.bg-yellow {
    background-color: #f8991d;
}
.bg-blue {
    background-color: #1455a6;
}
.bg-green {
    background-color: #76a841;
}
.flash-successfull {
    color: #3c763d;
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    width: 100%;
}
.flash-unsuccessfull {
    color: #a94442;
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    width: 100%;
}

a.alarm-link {
    text-decoration: none;
}
.alarm {
    display: block;
    color: #ffffff;
    padding: 20px 20px 20px 52px;
    background: url("../images/info.png") no-repeat 20px 50%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-animation: alarm 1s infinite alternate;
    -moz-animation: alarm 1s infinite alternate;  
    -ms-animation: alarm 1s infinite alternate;  
    -o-animation: alarm 1s infinite alternate;
    animation: alarm 1s infinite alternate;   
}

@-webkit-keyframes alarm {
    from { background-color: #053449; }
    to { background-color: #d82126; }
}
@-moz-keyframes alarm {
    from { background-color: #053449; }
    to { background-color: #d82126; }
}
@-ms-keyframes alarm {
    from { background-color: #053449; }
    to { background-color: #d82126; }
}
@-o-keyframes alarm {
    from { background-color: #053449; }
    to { background-color: #d82126; }
}
@keyframes alarm {
    from { background-color: #053449; }
    to { background-color: #d82126; }
}
.hide {
    display: none;
}
.show {
    display: block;
}
/*Default styles end*/

/*Main menu start*/
.main-menu-nav {
    background: #053449;
}
.main-menu {
    
}
.main-menu-nav .navbar-brand {
    color: #ffffff;
}
.main-menu-nav .main-menu li a {
    color: #ffffff;
}
.main-menu-nav .main-menu .dropdown-menu li a {
    color: #053449;
}
.main-menu-nav .main-menu > .open > a,
.main-menu-nav .main-menu li > a:hover, 
.main-menu-nav .main-menu > .active > a, 
.main-menu-nav .main-menu > .open > a:focus {
    background: #215065;
}
.main-menu-nav .main-menu .dropdown-menu li > a:hover, 
.main-menu-nav .main-menu .dropdown-menu li > a:focus {
    color: #ffffff;
}
.main-menu-nav .navbar-toggle {
    border-color: #215065;
}
.main-menu-nav .navbar-toggle:hover, .main-menu-nav .navbar-toggle:focus {
    background: #215065;
}
/*Main menu end*/

/*Footer start*/
.footer-links {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}
.footer-links li {
    display: inline-block;
    padding-right: 20px;
}
.footer-links li a {
    display: block;
    color: #ffffff;
}
.footer .row {
    margin-bottom: 0;
}
/*Footer end*/

/*Tiles start*/
.tile {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.tile .head {
    float: left;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}
.tile .head h2 {
    margin: 0;
    float: left;
    width: 100%;
    color: #ffffff;
}
.tile .head h2 span {
    float: left;
}
.tile .head h2 .glyphicon {
    
}
.tile .head h2 .heading {
    padding-left: 10px;
    font-size: 28px;
}
.tile .content {
    padding: 10px;
    float: left;
    width: 100%;
}
.tile .link {
    padding: 10px;
    float: left;
    width: 100%;
    border-top: 1px dashed #053449;
    text-align: center;
}
.tile .last-signs {
    padding-left: 10px;
}
.tile .last-signs li {
    padding-bottom: 5px;
}
.tile .last-signs li:last-child {
    padding-bottom: 0;
}
.tile .last-signs .log {
    display: block;
}
.tile .last-signs .log-description {
    display: block;
    color: #cccccc;
    font-size: 12px;
}
.tile .last-signs .log-value {
    
}
.tile .last-signs .log-time {
    
}
/*Tiles end*/

/*Login page start*/
#login-form {
    
}
.control-label-link {
    text-align: left;
}
.register {
    
}
.register-login-reset-links a {
    padding-left: 20px;
}
.register-login-reset-links a:first-child {
    padding-left: 0;
}
/*Login page end*/

/*Patient single page start*/
.patient-view {
    
}
.patient-view .row {
    
}
.patient-header {
    
}
.patient-header h1 {
    margin-top: 5px;
    margin-bottom: 0;
}
.patient-add-medication {
    margin-bottom: 30px;
}
.patient-alarms {
    margin-bottom: 30px;
}
.patient-signs {
    
}
.patient-medications {
    
}
.patient-medication {
    border: 2px solid #022a3b;
    background-color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 10px 0;
    float: left;
    width: 100%;
}
.patient-medication .pm-header{
    float: left;
    width: 100%;
}
.patient-medication .pm-header .rx-number{
    float: left;
    background-color: #022a3b;
    padding: 3px 10px;
    color: #ffffff;
    font-size: 16px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
.patient-medication .pm-header .name{
    float: right;
    background-color: #022a3b;
    padding: 3px 10px;
    color: #ffffff;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    width: 200px;
    text-align: right;
}
.patient-medication .pm-content{
    float: left;
    width: 100%;
    padding: 10px;
}
.patient-medication .pm-content .doze{
    color: #d82126;
    padding: 5px 0;
}
.patient-medication .pm-content .schedule{
    padding: 5px 0;
}
.patient-medication .pm-content .note{
    padding: 5px 0;
    font-size: 12px;
}
.patient-connections {
    
}
.patient-connection {
    
}
.patient-connection li {
    
}
.patient-connection li a {
    
}
.medication-create-dn .field-medication-patient_id {
    display: none;
}
.medication-create-dn .field-medication-prescribed_by_id {
    display: none;
}
/*Patient single page end*/

/*Logs single page start*/
.logs {
    
}
.logs-list {
    
}
.log-row {
    
}
.log-row .row-inside {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px;
    color: #ffffff;
    float: left;
    width: 100%;
}
.log-row .odd {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb4449+0,d82126+100 */
    background: #fb4449; /* Old browsers */
    background: -moz-linear-gradient(top, #fb4449 0%, #d82126 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb4449), color-stop(100%,#d82126)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fb4449 0%,#d82126 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fb4449 0%,#d82126 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fb4449 0%,#d82126 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fb4449 0%,#d82126 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb4449', endColorstr='#d82126',GradientType=0 ); /* IE6-9 */
}
.log-row .even {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff767b+0,fb4449+100 */
    background: #ff767b; /* Old browsers */
    background: -moz-linear-gradient(top, #ff767b 0%, #fb4449 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff767b), color-stop(100%,#fb4449)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff767b 0%,#fb4449 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff767b 0%,#fb4449 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff767b 0%,#fb4449 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff767b 0%,#fb4449 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff767b', endColorstr='#fb4449',GradientType=0 ); /* IE6-9 */
}
.log-row .row-inside .log-value {
    font-weight: bold;
}
/*Logs single page end*/

/*Other start*/
.field-medication-strength_measure {
    padding-top: 5px;
}
.alarm-form .field-alarm-patient_id {
    display: none;
}
.logs-form .field-logs-user_id {
    display: none;
}
.logs-form .field-logs-sign {
    display: none;
}
/*Other end*/

/*------------------------ Re-design -----------------------------------------*/

/*Bars start*/
.bar {
    font-size: 24px;
    background-color: #ffffff;
}
.bar .bar-cell {
    border-right: 1px solid #000000;
    text-align: center;
}
.bar .bar-cell:last-child {
    border-right: none;
}
.bar a {
    color: #000000;
}

#bar-top {
    border-bottom: 1px solid #000000;
    z-index: 100;
    position: fixed;
    width: 100%
}
#home, #profile, #time, #sos, #inbox, #message-box, #done {
    padding: 17px 0;
    float: left;
    width: 100%;
}
#sos {
    background-color: #c0504e;
    color: #ffffff !important;
}
#sos, #time, #message-box {
    margin: 7px 0;
}
#bar-bottom {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.bar img {
    height: 48px;
}
/*Bars end*/

/*Block home start*/
.block {
    background-color: #d9e0ea;
    min-height: 150px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.block a {
    display: block;
    float: left;
    width: 100%;
    color: #000000;
    outline: none;
    padding: 30px 0;
}
.block a:hover {
    color: #000000;
}
.block a .text {
    
}
.block a .image-wrapper {
    display: inline-block;
    padding-left: 50px;
}
.block a .image-wrapper img {
    height: 90px;
}
.brw {
    border-right: 2px solid #ffffff;
}
.bbw {
    border-bottom: 2px solid #ffffff;
}
/*Block home end*/

/*Block Sign panel start*/
.block-sign {
    background-color: #ffffff;
    min-height: 134px;
    font-size: 24px;
    text-align: center;
}
.block-sign a {
    display: block;
    float: left;
    width: 100%;
    color: #000000;
    outline: none;
    padding: 20px 0;
}
.block-sign a.overview-chart {
    padding: 10px;
}
.block-sign a.overview-text {
    padding: 10px 0;
}
.block-sign a.overview-chart img {
    height: 20px;
}
.block-sign a:hover {
    color: #000000;
}
.block-sign.empty-sign {
    background-color: #f9f9f9;
}
.block-sign a .text {
    display: block;
}
.block-sign a .image-wrapper {
    display: block;
}
.block-sign a .image-wrapper img {
    height: 58px;
}
.block-sign-splitted {
    padding: 0;
}
.block-sign-splitted a:hover {
    background-color: #f9f9f9;
}
.brb {
    border-right: 2px solid #514f50;
}
.bbb {
    border-bottom: 2px solid #514f50;
}
/*Block Sign panel end*/

/*Only For Smaller then 390px*/
@media (max-width: 390px) {
    .block-sign {
        font-size: 18px;
    }
}

/*Only For Smaller then 412px*/
@media (max-width: 412px) {
    .block a .text {
        display: none !important;
    }
}

/*Only For Smaller then 630px*/
@media (max-width: 630px) {
    .block a .image-wrapper, .block a .text {
        display: block;
    }
    .block a .image-wrapper {
        padding-top: 10px;
        padding-left: 0;
    }
}

/*Only For Extra-Small xs*/
@media (max-width: 767px) {
    .footer-links {
        float: left;
        padding-top: 10px;
    }
    
    #bar-top {
        border-bottom: none;
    }
    #bar-top .bar-cell {
        border-bottom: 1px solid #000000;
        border-right: none;
    }
    #bar-top .bar-cell-half:first-child {
        border-right: 1px solid #000000;
    }
    
    #bar-bottom {
        border-top: none;
    }
    #bar-bottom .bar-cell {
        border-top: 1px solid #000000;
        border-right: none;
    }
    #bar-top {
        position: relative;
    }
    #content {
        padding: 0;
    }
    .block {
        font-size: 18px;
    }
    .block a .image-wrapper {
        padding-left: 10px;
    }
}
/*Only For Small sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .bar .image-wrapper {
        display: block;
    }
    #sos, #time, #message-box {
        margin: 24px 0;
    }
    #content {
        padding: 117px 0 0 0;
    }
    .block a .image-wrapper {
        padding-left: 10px;
    }
}

/*Only For Medium md*/
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/*Only For Large lg*/
@media (min-width: 1200px) {
    
}

/*Only NOT For Extra-Small xs*/
@media (min-width: 768px) {
    
}
